html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main-container {
  background-color: #091a14;
  color: #ddf2eb;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 400px;
}

/* Task lists section */
.lists-container {
  display: flex;
  flex-direction: column;
  background-color: #11211b;
  grid-column: 1 / 2;
  border-right: 1px solid #22312c;
  padding: 26px 14px;
}

.task-lists .btn-list {
  display: flex;
  align-items: center;
  text-align: left;
  height: 50px;
  width: 100%;
  border-radius: 24px;
  background: none;
  color: #ddf2eb;
  border: none;
  padding: 6px 24px;
  font: inherit;
  cursor: pointer;
  transition: 0.2s ease;

}

.task-lists .btn-list:hover {
  color: rgb(108, 199, 167)
}


.task-lists .btn-list.active {
  background-color: #90d6bd;
  outline: none;
  color: #091a14;
}

.lists-container .footer {
  margin-top: auto;
}


.lists-container .footer p {
  height: 65px;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-justify: center;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  color: #ddf2eb;
}

.lists-container .footer p:hover {
  color: rgb(108, 199, 167)
}

.lists-container .footer button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  appearance: none;
  border: none;
  cursor: pointer;
  background: url("./images/plus.png") no-repeat center #636dc6;
  background-size: 28px;
}

.lists-container .footer p:hover>button {
  background-color: #4e559b;
}

/* Tasks section */
.tasks-container {
  overflow-y: auto;
}

.tasks-container .tasks {
  padding: 14px;
}

.tasks-container .title-container {
  padding: 0px 14px;
  display: flex;
  align-items: center;
  height: 65px;
  position: sticky;
  top: 0;
  background-color: #11211b;
  border-bottom: 1px solid #22312c;
}

.tasks-container .list-title {
  margin: 0;
}

.tasks-container .title-container p {
  margin: 0;
  margin-left: auto;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  text-decoration: none;
  color: #ddf2eb;
}

.tasks-container .title-container p:hover {
  color: rgb(108, 199, 167)
}

.tasks-container .title-container button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  appearance: none;
  border: none;
  cursor: pointer;
  background: url("./images/plus.png") no-repeat center #636dc6;
  background-size: 28px;
}

.tasks-container .title-container p:hover>button {
  background-color: #4e559b;
}

.tasks {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow-y: auto;
}

.tasks .note-view {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  max-width: 300px;
  min-width: 240px;
  min-height: 220px;
  height: min-content;

  padding-bottom: 10px;
  background-color: #132631;
  border-radius: 8px;
}

.tasks .note-view .header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 18px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.header.priority-high {
  background-color: rgb(252, 128, 128);
  color: #0d211a;
}

.header.priority-normal {
  background-color: #636dc6;
}

.header.priority-low {
  background-color: #abddeb;
  color: #0d211a;
}

.tasks .note-view .body {
  padding: 0 18px;
}

.tasks .note-view .body .title {
  margin-top: 0px
}

.tasks .note-view .footer {
  padding: 0 18px;
  margin-left: auto;
  margin-top: auto;
}

.tasks .note-view .task-delete {
  margin: 0;
  padding: 0;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: url("./images/trash-can.png") no-repeat rgb(252, 128, 128);
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;
}

/* Task view */
.task-view {
  background-color: #11211b;
  border-left: 1px solid #22312c;
  padding: 26px 14px;
}

.task-view form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.task-view .form-row {
  display: flex;
  align-items: start;
  padding: 16px 16px;
  background-color: #1c362d;
  border-radius: 4px;
}

.task-view #task-title {
  font-size: 24px;
}

.task-view .priority-bar {
  height: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority-bar.priority-high {
  background-color: rgb(252, 128, 128);
}

.priority-bar.priority-normal {
  background-color: #636dc6;
}

.priority-bar.priority-low {
  background-color: #abddeb;
}

.task-view textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  outline: none;
  color: #ddf2eb;
  background-color: #1c362d;
  border: none;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;

}

input[type="checkbox"] {
  margin: 0;
  margin-top: 6px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background-color: black;
}

button[type="button"] {
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  border: none;
  height: 28px;
  background-color: #90d6bd;
}

button[type="button"]:hover {
  background-color: #699c8a;
}