html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.main-container {
  background-color: #091a14;
  color: #ddf2eb;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 400px;
}

/* Task lists section */
.task-lists {
  grid-column: 1 / 2;
  background-color: #11211b;
  border-right: 1px solid #22312c;
  padding: 26px 14px;
}

.task-lists .btn-list {
  text-align: left;
  height: 50px;
  width: 100%;
  border-radius: 24px;
  background: none;
  color: #8c9e98;
  border: none;
  padding: 6px;
  padding-left: 24px;
  font: inherit;
  cursor: pointer;
}

.task-lists .btn-list:hover {
  color: #ddf2eb;
}

.task-lists .btn-list.active {
  background-color: #90d6bd;
  color: #091a14;
}

/* Tasks section */
.tasks-container {
  overflow-y: auto;
}

.tasks-container .title-container,
.tasks-container .tasks {
  padding: 16px;
}

.tasks-container .title-container {
  position: sticky;
  top: 0;
  background-color: #11211b;
  border-bottom: 1px solid #22312c;
}

.tasks-container .list-title {
  margin: 0;
}

.tasks {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow-y: auto;
}

.tasks .note-view {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  max-width: 300px;
  min-width: 240px;
  min-height: 220px;
  height: min-content;

  padding: 16px 18px;
  padding-bottom: 10px;
  background-color: #132631;
  border-radius: 8px;
}

.tasks .note-view .header {
  display: flex;
  justify-content: space-between;
}

.tasks .note-view .footer {
  margin-left: auto;
  margin-top: auto;
}

.tasks .note-view .task-delete {
  margin: 0;
  padding: 0;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: url("./images/trash-can.png") no-repeat rgb(252, 128, 128);
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;
}

/* Task view */
.task-view {
  background-color: #11211b;
  border-left: 1px solid #22312c;
  padding: 26px 14px;
}

.task-view form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.task-view .form-column {
  display: flex;
  align-items: start;
  padding: 16px 16px;
  background-color: #1c362d;
  border-radius: 4px;
}


.task-view textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  outline: none;
  color: #ddf2eb;
  background-color: #1c362d;
  border: none;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;

}

input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background-color: black;
}

#title {
  word-wrap: break-word;
}